body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#F3B5A7, #A7DBF3)
}

.navBar {
  font-family: futura, sans-serif;
  margin-top: 20px;
  margin-left: 20px
}

.App {
  font-family: futura, sans-serif;
}

button {
  font-family: futura, sans-serif;
  height: 600px;
  background-color: #F2EDE8;
  border: none
}

.Slider {
  display: flex;
  border: 1px solid #F2EDE8;
  margin: auto;
  margin-top: 50px;
  width: fit-content;
  height: 600px;
}

.contents {
  font-family: futura, sans-serif;
  width: 900px;
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.image {
  grid-column: 1;
}

img {
  border-radius: 25px;
  width: 350px;
  margin: 35px
}

.text {
  grid-column: 2;
  width: fit-content;
  height: 600px
}

h1 {
  color: #F2EDE8
}

h3 {
  color: #919191
}

p {
  width: 375px
}

