body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#F3B5A7, #A7DBF3)
}

.navBar {
  font-family: futura, sans-serif;
  margin-top: 20px;
  margin-left: 20px
}

.App {
  font-family: futura, sans-serif;
}

button {
  font-family: futura, sans-serif;
  height: 600px;
  background-color: #F2EDE8;
  border: none
}

.Slider {
  display: flex;
  border: 1px solid #F2EDE8;
  margin: auto;
  margin-top: 50px;
  width: 900px;
  height: 600px;
}

.contents {
  font-family: futura, sans-serif;
  width: 830px;
  display: grid;
  grid-template-rows: 2fr 2fr;
  grid-template-columns: 2fr 2fr;
  grid-gap: 10px
}

h1 {
  border: solid red;
}

.image {
  border: solid red;
  width: 400px
}

p {
  border: solid red;
  width: 250px
}