body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#F3B5A7, #A7DBF3)
}

.navBar {
  font-family: futura, sans-serif;
  margin-top: 20px;
  margin-left: 20px
}

.App {
  border: solid #F2EDE8;
  font-family: futura, sans-serif;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}